
{{>header}}


<h2>Form Submitted Sucessfully</h2>

<p><strong>Name:</strong>{{data.Name}}</p>
<p><strong>Email:</strong>{{data.Email}}</p>
<p><strong>City:</strong>{{data.City}}</p>

<a href="/">Go Back</a>

{{>footer}}